{% extends 'admin/headerfooter.html' %}
{% block content %}
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Employer table
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">ID</th>
            <th>Company Name</th>
            <th>Employer Name</th>
            <th>Company Address</th>
            <!-- <th>Gender</th>
            <th>Dob</th>
            <th>Education</th>
            <th>Job-Category</th> -->
            <th>e-mail</th>
            
            <th data-breakpoints="xs">Password</th>
           
            <!--<th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th>-->
          </tr>
        </thead>
        <tbody>
          {% for x in data34 %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td>{{x.name}}</td>
            <td>{{x.sname}}</td>
            <td>{{x.address}}</td>
            <!-- <td>{{i.gender}}</td>
            <td>{{i.dob}}</td>
            <td>{{i.education}}</td>
            <td>{{i.jobcat}}</td> -->
            <td>{{x.email}}</td>
            <td>{{x.cpassword}}</td>
            <td><a href="/employerupdate/?uuid={{x.id}}"><i class="fa fa-edit"></i></a></td>
            <td><a href="/employerdelete/?uuid={{x.id}}"><i class="fa fa-trash"></i></a></td>


          </tr>
           {% endfor %}


          </tbody>
        </table>
      </div>
    </div>
  </div>
  </section>
  
  </section>
  
  <!--main content end-->
</section>





      
        
{% endblock %}
