{% extends 'admin/headerfooter.html' %}
{% block content %}
<!--sidebar end-->
<!--main content start-->

  <!--main content end-->




<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Job Vacancy table
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">ID</th>
            <th>Company Name</th>
            <th>Job Type</th>
            <th>Salary</th>
            <th>Working Time</th>
            <th data-breakpoints="xs">No Of Vacancy</th>           
            <!--<th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th>-->
          </tr>
        </thead>
        <tbody>
          {% for i in data15 %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td>{{i.comapy}}</td>
            <td>{{i.jtype}}</td>
            <td>{{i.salary}}</td>
            <td>{{i.vaccancy}}</td>
            
            
            <td><a href="/jobdelete/?uuid={{i.id}}"><i class="fa fa-trash"></i></a></td>


          </tr>
           {% endfor %}


          </tbody>
        </table>
      </div>
    </div>
  </div>
  </section>
  
  </section>
  
  <!--main content end-->
</section>
      
        
{% endblock %}
