{% extends 'admin/headerfooter.html' %}
{% block content %}
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Message table
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">ID</th>
            <th> Name</th>
            <th>Mail</th>
            <th>Subject</th>
            <th data-breakpoints="xs">Message</th>
            
            
            <!-- <th data-breakpoints="xs">Password</th> -->
           
            <!--<th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th>-->
          </tr>
        </thead>
        <tbody>
          {% for i in data1 %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.sub}}</td>
            <td>{{i.msg}}</td>
            <!-- <
            <td><a href="/employerupdate/?uuid={{i.id}}"><i class="fa fa-edit"></i></a></td> -->
            <td><a href="/msg_delete/?uuid={{i.id}}"><i class="fa fa-trash"></i></a></td>


          </tr>
           {% endfor %}
       <!--   <tr>
            <td>2</td>
            <td>Elodia</td>
            <td>Weisz</td>
            <td>Wallpaperer Helper</td>
          
            <td>March 30th 1982</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Raeann</td>
            <td>Haner</td>
            <td>Internal Medicine Nurse Practitioner</td>
           
            <td>February 26th 1966</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Junie</td>
            <td>Landa</td>
            <td>Offbearer</td>
           
            <td>March 29th 1966</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Solomon</td>
            <td>Bittinger</td>
            <td>Roller Skater</td>
           
            <td>September 22nd 1964</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Bar</td>
            <td>Lewis</td>
            <td>Clown</td>
           
            <td>August 4th 1991</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Usha</td>
            <td>Leak</td>
            <td>Ships Electronic Warfare Officer</td>
          
            <td>November 20th 1979</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Lorriane</td>
            <td>Cooke</td>
            <td>Technical Services Librarian</td>
           
            <td>April 7th 1969</td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>

</section>

<!--main content end-->
</section>
{% endblock %}
